<div id="EventsIndex" ng-controller="app.views.creatives.index as vm">
    <h2>
        <span>@L("Creatives")</span>

        <a ng-click="vm.openNewCreativeDialog()" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> @L("NewCreative")</a>
    </h2>
    <div class="row">
        <div ng-repeat="creative in vm.creatives " class="event-list-item col-md-6">
            <div class="event-body">
                <h3 class="event-title">
                    {{creative.Title}}
                </h3>

                <p class="event-description">
                    @L("Category"): {{creative.CategoryName | characters:100}}
                </p>
                <div class="event-actions">
                    <a class="btn btn-sm btn-info" ng-href="#/creatives/{{creative.Id}}">
                        @L("Read") 
                        
                    </a>
                </div>
                <span class="event-date"><i class="fa fa-calendar-times-o"></i> {{creative.CreationTime | momentFormat:'DD.MM.YYYY'}}</span>
            </div>
        </div>
    </div>
</div>