    <link href="~/App/Main/views/editor/style.css" rel="stylesheet">
    <div id="EditorIndex" ng-controller="app.views.editor.index as vm">
        <div class="pull-right">
            <button type="button"
                    class="btn btn-danger"
                    ng-click="newChapter()">
                @L("RemoveCreative")
            </button>
            <button type="button"
                    class="btn btn-success"
                    ng-click="newChapter()">
                @L("SaveCreative")
            </button>
        </div>
        <h2>
            <input ng-model="vm.creativeTitle"
                   style="border:none"/>
        </h2>
        
        <div class="row">
            <div class="col-md-2" ng-repeat="chapter in vm.chaptersList" track by $index>
                <button type="button"
                        ng-click="vm.getChapterContent(chapter.Id)"
                        class="btn btn-default btn-sm"
                        data-toggle="tooltip" title="{{chapter.Number}}!">
                    {{chapter.Name}}
                </button>
            </div>
        </div>
        <div class="pull-right">
            <button type="button"
                    class="btn btn-danger glyphicon glyphicon-remove"
                    ng-click="vm.removeChapter()"></button>
            <button type="button"
                    class="btn btn-success glyphicon glyphicon-plus"
                    ng-click="vm.newChapter()"></button>
        </div>
        <h2>
            <input ng-model="vm.chaptersList[vm.globalId].Name" 
                   style="border:none"/>
        </h2>
        <div text-angular="text-angular" ng-model="vm.editorContent"></div>
    </div>