<link href="~/App/Main/views/editor/style.css" rel="stylesheet">
<div id="EditorIndex" ng-controller="app.views.editor.indexx as vm">
    <div class="pull-right">
        <button type="button"
                class="btn btn-danger"
                ng-click="vm.removeCreative()">
            @L("RemoveCreative")
        </button>
        <button type="button"
                class="btn btn-success"
                ng-click="vm.saveCreative()">
            @L("SaveCreative")
        </button>
    </div>
    <h2>
        <input ng-model="vm.creative.Title"
               style="border:none" />
    </h2>
    <div class="row" id="chapters">
        <div class="col-md-2 dropdown" 
             ng-repeat="chapter in vm.creative.Chapters" track by $index
             draggable="true">
            <div ng-click="vm.getChapterContent($index)"
                 class="btn btn-default dropbtn">
                <div style="overflow:hidden;">
                    {{chapter.Name}}
                </div>
                <div class="dropdown-content">
                    <div ng-bind-html="chapter.Content" />
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="button"
                    class="btn btn-danger glyphicon glyphicon-remove"
                    ng-click="vm.removeChapter()"></button>
            <button type="button"
                    class="btn btn-success glyphicon glyphicon-plus"
                    ng-click="vm.newChapter()"></button>
        </div>
     </div>
        <h2>
            <input ng-model="vm.creative.Chapters[vm.globalIndex].Name"
                    style="border:none" />
        </h2>
        <div text-angular="text-angular" ng-model="vm.creative.Chapters[vm.globalIndex].Content"></div>
       
    </div>
