
    <link href="~/App/Main/views/editor/style.css" rel="stylesheet">

    <div id="EditorIndex" ng-controller="app.views.editor.index as vm">
        <div>
            <div class="row show-grid">

            </div>
        </div>
        <h2>Editor</h2>
        <div text-angular="text-angular" ng-model="chapterContent"></div>
    </div>
   
