<link href="~/App/Main/views/reader/style.css" rel="stylesheet">
<div id="EditorIndex" ng-controller="app.views.reader.index as vm">
    
    <input-stars class="pull-right" ng-click="vm.setRating()" max="5" ng-model="vm.creative.CreativeRate"></input-stars>
    <div ng-if="vm.success">
        <h2 ng-style="vm.creativeReader">{{vm.creative.Title}}</h2>
        <div ng-if="!vm.chaptersIsEmpty">
            <div ng-style="vm.creativeReader">
                <div>
                    <h2>{{vm.chapterToShow.Name}}</h2>
                    <div contenteditable="false"
                         ng-model="vm.chapterToShow.Content"
                         ng-hide="showHtml"
                         ng-style="vm.creativeReader"
                         ta-bind="text"
                         class="ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ta-text ta-editor form-control" />
                </div>
            </div>
            <div class="container">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" style="width: 100px" class="btn btn-secondary btn-default" ng-click="vm.choiseChapter(-1)">@L("Previous")</button>
                    <button type="button" style="width: 100px" class="btn btn-secondary btn-default" ng-click="vm.choiseChapter(1)">@L("Next")</button>
                </div>
            </div>
        </div>
    </div>
    <dir-disqus config="disqusConfig"></dir-disqus>
    <div ng-if="vm.chaptersIsEmpty">
        <p>@L("ChaptersIsNotFound")</p>
    </div>
    <div ng-if="!vm.success">
        <h2>@L("CreativeIsNotFound")</h2>
    </div>
</div>
