@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    background-color: lightgray;
    border-radius: 5px;
    padding-bottom:20px;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    margin: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  .sidebar-nav .navbar li div {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  img{
      height:200px;
      width: 200px;
      margin: 5px;
  }
}

li {
    margin: 5px;
}